/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Validator shows error with this area */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my CSS begins here */

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* setting styles to have header and navigation elements display block in mobile */

.header {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #3C3B3A;
    text-align: center;
    font-size: 16px;
}

/* styling for ARC logo */

.header img {
    width: 88px;
}

.navigation nav ul li {
    padding-top: 11px;
    padding-bottom: 11px;
    color: #F2F2F2;    
}

/* styling for specific navigation elements */

a:link, a:visited{
    color: #F2F2F2;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
    font-weight: bold;
}

/* a font-weight of bold is used for to show the page that is currently active */

.active {
    font-weight: bold;
}

/* multiple elements are targeted together as they all require a width of 80% and margin:auto */

.discover-wrap, .construction, .president-text, .entertainment, .discover, .who-what-where, .resto, .newyear, .resto, .competitive-text, .newyear, .climbing-text, .thank-you, .contact-we-want, .contact-form, .contact-location  {
    width: 80%;
    margin: auto;
}

/* multiple elements are targeted together as they all require a width of 80% and margin:auto */

.discover-wrap h1, .construction h1, .discover-wrap p, .construction p, .entertainment h2, .discover h2, .entertainment p, .discover p, .who-what-where, .resto, .competitive-text, .newyear, .climbing-text, .thank-you h2, .contact-location, .home-section-one h1 {
    color: #3C3B3A;
}

/* multiple elements given a font-weight of bold are targeted altogether so they do not need to be set individually */

.discover-wrap h1, .construction h1, .discover-wrap-two, .learn-more a, .green, .resto h2, .competitive-text h2, .newyear h2, .climbing-text h2, .thank-you h2, .contact-we-want h1, .contact-form h2, .contact-form form button, .contact-location h2, .home-section-one h1  {
    font-weight: bold;, 
}

/* multiple elements needing a width of 100% are set altogether */

 .graduation img, .home-image-two img, .entertainment-img img, .green-img img, .services .centered img, .contact-form form button, .map iframe {
    width: 100%;
}

/* both h1s on the Home and About Page are targeted together as they share the same font sizes and margins */

.discover-wrap h1, .construction h1 {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.discover-wrap p, .construction p {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 15px;
}

/* setting activity icons to display in grid format for mobile */

.icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
}

/* captions under activity icons set to center */

.bowling-icon, .climbing-icon, .fitness-icon, .basketball-icon {
    text-align: center;
}

/* font sizing and color for icon labels */

.icons p {
    font-size: 17px;
    color: #26A682;
}

/* styling for Get Started button */

.discover-wrap-two {
    background-color: #26A682;
    color: #F2F2F2;
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 7px;
    padding-bottom: 6px;
    border: hidden;
    border-radius: 50px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);

/* an animation is given to the Get Started button, to have it ease into full opacity once the page loads */ 

    opacity: 1;
    animation-name: opacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* setting initial sizing for discover vector image */

.discover-img img {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

/* scroll arrow is not to be visible in mobile, so it is given a display of none */

.scroll {
    display: none;
}

.graduation img {
    display: block;
}

/* Learn More button is displayed with flex to have it anchor to right side of container */

.learn-more {
        display: flex;
        justify-content: flex-end;
        font-size: 27px;

/* same opacity animation is given to both Learn More button on Home page */

        opacity: 1;
        animation-name: opacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* styling for learn more buttons */ 

.learn-more a {
    width: 50%;
    background-color: #26A682;
    color: #F2F2F2;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 7px;
    padding-bottom: 6px;
    border: hidden;
    border-radius: 50px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);   
}

/* styling to president section */

.president {
    background-color: #3C3B3A;
    color: #F2F2F2;
}

.president {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 35px;   
}

/* specific style attributes like border-radius are used on president image to display in a circle */

.president-img img {
    width: 175px;
    margin: auto;
    border: 5px solid #F2F2F2;
    border-radius: 100px;
    margin-top: 30px;    
    margin-bottom: 28px;
}

/* font-weight must be used here as font is neither regular or bold, but has a weight that is in between, therefore a number must be used to determine weight */

.president h3 {
    font-weight: 600;
}

.president-text {
    font-size: 16px;
    line-height: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* styling is set for h2's, h3's, and p's in both entertainment and discover sections, as they share attributes */

.entertainment h2, .discover h2 {
    font-size: 32px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;
}

.entertainment h3, .discover h3 {
    font-size: 24px;
    color: #26A682;;
    margin-bottom: 10px;
}

.entertainment p, .discover p  {
    font-size: 16px;
    line-height: 35px;
}

/* styling attributes set for footer */

.footer {
    background-color: #3C3B3A;
    color: #F2F2F2;
    padding-bottom: 32px;
    margin-top: 51px;
}

.footer p {
    font-size: 24px;
    text-align: center;
    padding-top: 32px;
}

/* social media icons are set to display in grid columns */

.icon-list ul {
    margin-top: 6px;
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 25px 25px 25px 30px;
    justify-content: center;
    align-items: center;
}

/* CSS for About page */

.construction img {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

/* styling is set for green Services and About images that will span across width of screen, and for the text that appears in front of them  */

.green {
    position: relative;
    text-align: center;
    color: #F2F2F2;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

/* styling is set for section of text below the About green image */

.who-what-where {
    margin-top: 25px;
    margin-bottom: 25px;
}

.who-what-where h2 {
    font-size: 32px;
    font-style: italic;
}

.who-what-where p {
    font-size: 16px;
    line-height: 35px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.services .centered img {
    margin-bottom: 5px;    
}

/* activity images below Services section are not to be displayed in mobile browsers, so they are given a display of none */ 

.bar-img, .competitive-img, .climbing-img, .fitness-img {
    display: none;
}

.resto, .newyear, .competitive, .climbing {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* a background color of F2F2F2 must be set for .competitive and .climbing sections */

.competitive, .climbing {
    background-color: #F2F2F2;
}

.resto h2, .competitive-text h2, .newyear h2, .climbing-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.resto h3, .competitive-text h3, .newyear h3, .climbing-text h3  {
    font-size: 24px;
    color: #26A682;
    margin-bottom: 10px;
}

.resto p, .competitive-text p, .newyear p, .climbing-text p {
    font-size: 15px;
    line-height: 35px;
}

/* styling for break section with option to Subscribe */

.break {
    background-color: #3C3B3A;
    text-align: center;
    padding-bottom: 2rem;
}

.break p {
    font-size: 18px;
    color: #F2F2F2;
    padding-top: 24px;
    padding-bottom: 17px;
}

.break a {
    background-color: #26A682;
    color: #F2F2F2;
    text-align: center;
    border: hidden;
    border-radius: 50px;
    font-size: 20px;
    padding: 6px 22px 6px 22px;

}

/* styling for Thank You section at bottom of About page */

.thank-you {
    text-align: center;
}

.thank-you h2 {
    font-size: 56px;
    line-height: 66px;
    padding-top: 2rem;
}

/* company icons are given display of grid to align them in one column on mobile */

.thank-you-images {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* nth-child is used for each individual company icon as they all have different px sizes */


.thank-you-images img:nth-child(1) {
    width: 301px; 
    margin-bottom: 44px;   
}

.thank-you-images img:nth-child(2) {
    width: 202px;
    margin-bottom: 31px;
}

.thank-you-images img:nth-child(3) {
    width: 220px;
    margin-bottom: 72px;
} 

.thank-you-images img:nth-child(4) {
    width: 152px;
}

/* Styling for Contact page */

.contact-we-want h1 {
    font-size: 50px;
    margin-top: 25px;
}

.contact-we-want p {
    font-size: 20px;
    line-height: 35px;
    margin-top: 20px;
}

/* styling for vector image on contact page */

.contact-we-want img {
    display: block;
    width: 302px;
    margin: auto;
    margin-bottom: 1rem;
}

/* styling for contact form */

.contact-form form {
    background-color: #26A682;
    border: hidden;
    border-radius: 20px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px;  
}

.contact-form h2 {
    color: #F2F2F2;
    font-size: 40px;
    line-height: 49px;
    padding-bottom: 10px;
}

.contact-form label {
    color: #F2F2F2;
    font-size: 18px;
    line-height: 19px;
}

input[type=text]  {
    font-family: 'Raleway', sans-serif;  
    width: 100%;
    background-color: #F4F4F5;
    font-size: 16px;
    color: #707070;
    margin-top: 5px;
    margin-bottom: 15px;
    border: hidden;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
}

textarea[type=text] {
    font-family: 'Raleway', sans-serif;  
    width: 100%;
    background-color: #F4F4F5;
    font-size: 16px;
    color: #707070;
    margin-top: 5px;
    margin-bottom: 15px;
    border: hidden;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    resize: none;
}

.contact-form form button {
    background-color: #3C3B3A;
    color: #F2F2F2;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: hidden;
    border-radius: 30px;
}

.contact-location h2 {
    font-size: 40px;
}

.contact-location h3 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-location p {
    font-size: 16px;
    line-height: 35px;
}

.map {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

/* styling for back to top button, also an animation is given to have it bounce upwards - scale also had to be adjusted for animation to ensure it did not bounce too high and cover other content */

.back-to-top {
    display: grid;
    grid-template-columns: repeat(12, auto);
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-to-top .arrow {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.back-to-top .arrow img {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,.9) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

/* styling for map */

.map iframe {
    height: 250px;
    width: 100%;
    border: 0;
}

/* CSS for Tablet breakpoint */


@media (min-width: 750px) {

    .header {
        padding: 0;
    }

    /* styling to have navigation elements display in grid, on opposite sides of header */ 

    .navigation nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation ul li  {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home-section-one h1 {
        font-size: 72px;
        margin-top: 80px;
        margin-bottom: 20px;
        line-height: 85px;
    }

    .home-section-one p {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    /* activity icons are still in a grid, but now displayed in 4 columns, side by side */

    .icons {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-around;
    }

    /* styling for Get Started button is changed to width of 300px */

    .discover-wrap-two {
        width: 300px;
        display: block;
        margin: 40px auto 40px auto;
    }

    /* styling for scroll arrow, which now appears in tablet view */

    .scroll-arrow {
        width: 4rem;
        text-align: center;
    }

    /* animation is also applied to scroll button, to draw attention by having it pulse in and out */


    .pulsate-bck {
        -webkit-animation: pulsate-bck 1.5s ease-in infinite both;
                animation: pulsate-bck 1.5s ease-in infinite both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2020-3-13 19:2:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  /* scroll button is displayed in grid and justified to center */

    .scroll {
        display: grid;
        grid-template-columns: repeat(12, auto);
        justify-content: center;
        margin-bottom: 20px;
    }

    /* content in discover and entertainment sections are displayed using grid to have their content display side by side */

    .discover, .entertainment {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .discover, .entertainment {
        margin-top: 42px;
        margin-bottom: 41px;
    }

    .learn-more {
        justify-self: end;
    }

    /* Learn More buttons are displayed using justify-self: end, to push the learn more buttons to the very right side of the text containers */

    .learn-more a {
        width: 100%;
        padding: 10px 40px 10px 40px;
    }

    .entertainment h2, .discover h2 {
        font-size: 40px;
        margin-bottom: 11px;
    }
    
    .entertainment h3, .discover h3 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    
    .entertainment p, .discover p  {
        font-size: 18px;
        line-height: 35px;
    }

    .learn-more {
        font: 27px;
        max-width: 230px;  
    }

    /* section with SA president information is displayed using grid to display contenr side by side in tablet view */

    .president {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row: 1/ 2 ;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .president-img {
        align-self: center;
    }

    .president-img img {
        margin-top: 0;
        margin-bottom: 0;
    }

    .president-text {
        font-size: 24px;
        grid-column: 2 / 3;    
        align-self: center;
    }

    .construction img {
        width: 575px;
    }

    .bar-img, .competitive-img, .climbing-img, .fitness-img {
        display: block;
    }

    .bar-img img, .competitive-img img, .climbing-img img, .fitness-img img {
        width: 100%;
    }

    .competitive, .climbing {
        padding: 3rem 3rem 3rem 1rem;
    }

    .competitive-img, .climbing-img {
        grid-column: 2;
        grid-row: 1;
    }

    .bar, .fitness {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 1fr;
    }

    .competitive, .climbing {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .bar, .fitness {
        margin: 3rem 0 3rem 3rem;
    }

    .break {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;  
        padding-top: 30px;
        padding-bottom: 30px; 
    }

    .break p {
        font-size: 20px;
        padding: 0;
        justify-self: center;    
    }

    .break a {
        justify-self: start;
        font-size: 24px;
    }


    .contact-we-want img {
        width: 452px;
    }

    .map iframe {
        height: 500px;
        width: 100%;
        border: 0;
    }

}

    @media (min-width: 960px) {

        .discover-wrap {
            margin-top: 95px;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: repeat(1 1fr);
            grid-column-gap: 1rem;
        }

        .sm-discover-wrap {
            grid-row: 1 / 2;
            align-self: center;
         }

        .icons {
            grid-column-gap: 0.5rem;
        }

        .icons p {
            line-height: 20px;
        }

        .discover-img {
            align-self: center;
        }

        .discover-img img {
            width: 40vw;
        }

        .disc-wrap-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
        }

        .graduation {
            justify-self: center;
            margin-left: 2rem;
        }

        .discover {
            justify-self: center;
            align-items: center;
        }

        .disc-wrap-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
        }

        .entertainment-img {
            grid-column: 2;
            grid-row: 1;
            justify-self: center;
            margin-right: 2rem;
        }

        .who-what-where {
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(1, auto);
            padding-top: 225px;
            padding-bottom: 225px;
        }

        .who, .what, .where {
            padding-left: 35px;
            padding-right: 35px;
        }

        .who-what-where h2 {
            font-size: 40px;
        }
        
        .who-what-where p {
            font-size: 18px;
        }

        .bar, .fitness, .competitive, .climbing {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr;
        }

        .bar, .fitness {
            margin-left: 4rem;
        }
    
        .break p {
            font-size: 24px;
            padding: 0;
            justify-self: center;
            margin-right: 2rem;   
        }

        .break a {
            justify-self: start;
            margin-left: 2rem;
        }

        .thank-you {
            width: 100%;
            margin: auto;
        }

        .thank-you h2 {
            font-size: 72px;
            line-height: 85px;
            width: 40%;
            margin: auto;
        }

        .thank-you-images {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding-left: 105px;
            padding-right: 105px;    
        }

        .thank-you-images img:nth-child(3), .thank-you-images img:nth-child(4) {
            margin-bottom: 2rem;
        }

        .map {
            margin: 0 3rem 0 0;
        }

        .map iframe {
            height: 500px;
            border: 0;
        }

        .contact-container {
            margin-top: 95px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(1 1fr);
        }

        .contact-container-2 {
            margin-top: 95px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(1 1fr);
        }

        .contact-we-want h1 {
            margin-top: 0;
        }

        .contact-we-want img {
            width: 30vw;
        }

        .contact-form form {
            margin-bottom: 0;
        }




}

