/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my CSS begins here */

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* setting styles to have header and navigation elements display block in mobile */

.header {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #3C3B3A;
    text-align: center;
    font-size: 16px;
}

/* styling for ARC logo */

.header img {
    width: 88px;
}

.navigation nav ul li {
    padding-top: 11px;
    padding-bottom: 11px;
    color: #F2F2F2;    
}

/* styling for specific navigation elements */

a:link, a:visited{
    color: #F2F2F2;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
    font-weight: bold;
}

.active {
    font-weight: bold;
}

/* styling for first sections of both Home and About page, as they have the same attributes for h1 and p */

.discover-wrap, .construction {
    width: 80%;
    margin: auto;
}

.discover-wrap h1, .construction h1 {
    color: #3C3B3A;
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}

.discover-wrap p, .construction p {
    color: #3C3B3A;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 15px;
}

/* setting activity icons to display in grid format for mobile */

.icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
}

.bowling, .climbing, .fitness, .basketball {
    text-align: center;
}

/* font sizing and color for icon labels */

.icons p {
    font-size: 17px;
    color: #26A682;
}


/* styling for Get Started button */

button {
    background-color: #26A682;
    color: #F2F2F2;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 7px;
    padding-bottom: 6px;
    border: hidden;
    border-radius: 50px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);

}

.discover-wrap button {
    width: 100%;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 7px;
    padding-bottom: 6px;
}

/* setting initial sizing for discover vector image */

.discover-img img {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.scroll {
    display: none;
}

.graduation img {
    display: block;
    width: 100%;
}

/* Learn More button is displayed with flex to have it anchor to right side of container */

.learn-more {
    display: flex;
    justify-content: flex-end;
}

.learn-more button {
    font: 27px;
    width: 50%;
    background-color: #26A682;
    color: #F2F2F2;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 7px;
    padding-bottom: 6px;
    border: hidden;
    border-radius: 50px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);   
}

/* styling to president section */

.president {
    background-color: #3C3B3A;
    color: #F2F2F2;
}

.president {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 35px;   
}

/* specific style attributes like border-radius are used on president image to display in a circle */

.president-img img {
    width: 175px;
    margin: auto;
    border: 5px solid #F2F2F2;
    border-radius: 100px;
    margin-top: 30px;    
    margin-bottom: 28px;
}

/* font-weight must be used here as font is neither regular or bold, but has a weight that is in between, therefore a number must be used to determine weight */

.president h3 {
    font-weight: 600;
}

.president-text {
    font-size: 16px;
    width: 80%;
    margin: auto;
    line-height: 35px;
    padding-top: 20px;
}

.home-image-two img {
    width: 100%;
}

.entertainment, .discover {
    width: 80%;
    margin: auto;
} 

.entertainment-img img {
    width: 100%;
}

.entertainment h2, .discover h2 {
    color: #3C3B3A;
    font-size: 32px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;
}

.entertainment h3, .discover h3 {
    font-size: 24px;
    color: #26A682;;
    margin-bottom: 10px;
}

.entertainment p, .discover p  {
    color: #3C3B3A;
    font-size: 16px;
    line-height: 35px;
}

.footer {
    background-color: #3C3B3A;
    color: #F2F2F2;
    padding-bottom: 32px;
    margin-top: 51px;
}

.footer p {
    font-size: 24px;
    text-align: center;
    padding-top: 32px;
}

.icon-list ul {
    margin-top: 6px;
    display: grid;
    grid-template-columns: 25px 25px 25px 30px;
    grid-column-gap: 12px;
    justify-content: center;   
}

.footer figure img{
    width: 22px;
}

.footer figure figcaption {
    font-size: 9px;
}

/* CSS for About page */

.construction img {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.green {
    position: relative;
    text-align: center;
    color: #F2F2F2;
    font-weight: bold;
}

.green-img img {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.who-what-where {
    width: 80%;
    margin: auto;
    color: #3C3B3A;
    margin-top: 25px;
    margin-bottom: 25px;
}

.who-what-where h2 {
    font-size: 32px;
    font-style: italic;
}

.who-what-where p {
    font-size: 16px;
    line-height: 35px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.services .centered img {
    width: 100%;
    margin-bottom: 5px;    
}

.bar-img, .competitive-img {
    display: none;
}

.resto, .newyear {
    width: 80%;
    margin: auto;
    color: #3C3B3A;
    padding-top: 25px;
    padding-bottom: 25px;
}

.competitive, .about-climbing {
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-bottom: 25px;
}

.competitive-text, .newyear, .about-climbing-text {
    width: 80%;
    margin: auto;
    color: #3C3B3A;
}

.resto h2, .competitive-text h2, .newyear h2, .about-climbing-text h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.resto h3, .competitive-text h3, .newyear h3, .about-climbing-text h3  {
    font-size: 24px;
    color: #26A682;
    margin-bottom: 10px;
}

.resto p, .competitive-text p, .newyear p, .about-climbing-text p {
    font-size: 15px;
    line-height: 35px;
}

.break {
    background-color: #3C3B3A;
    text-align: center;
}

.break p {
    font-size: 18px;
    color: #F2F2F2;
    padding-top: 24px;
    padding-bottom: 17px;
}

.break button {
    font-size: 20px;
    padding: 6px 22px 6px 22px;
    width: 140px;
}

.thank-you {
    width: 80%;
    margin: auto;
    text-align: center;
}

.thank-you h2 {
    font-size: 56px;
    line-height: 66px;
    font-weight: bold;
    color: #3C3B3A;
}

.thank-you-images {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.thank-you-images img:nth-child(1) {
    width: 301px; 
    margin-bottom: 44px;   
}

.thank-you-images img:nth-child(2) {
    width: 202px;
    margin-bottom: 31px;
}

.thank-you-images img:nth-child(3) {
    width: 220px;
    margin-bottom: 72px;
} 

.thank-you-images img:nth-child(4) {
    width: 152px;
}

.contact-we-want {
    width: 80%;
    margin: auto;
}

.contact-we-want h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 25px;
}

.contact-we-want p {
    font-size: 20px;
    line-height: 35px;
    margin-top: 20px;
}

.contact-we-want img {
    display: block;
    width: 302px;
    margin: auto;
}

.contact-form form {
    background-color: #26A682;
    border: hidden;
    border-radius: 20px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px;  
}

.contact-form {
    width: 80%;
    margin: auto;
}

.contact-form h2 {
    color: #F2F2F2;
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    padding-bottom: 10px;
}

.contact-form label {
    color: #F2F2F2;
    font-size: 18px;
    line-height: 19px;
}

input[type=text]  {
    font-family: 'Raleway', sans-serif;  
    width: 100%;
    background-color: #F4F4F5;
    font-size: 16px;
    color: #707070;
    margin-top: 5px;
    margin-bottom: 15px;
    border: hidden;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
}

textarea[type=text] {
    font-family: 'Raleway', sans-serif;  
    width: 100%;
    background-color: #F4F4F5;
    font-size: 16px;
    color: #707070;
    margin-top: 5px;
    margin-bottom: 15px;
    border: hidden;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    resize: none;
}

.contact-form form button {
    width: 100%;
    background-color: #3C3B3A;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: hidden;
    border-radius: 30px;
}

.contact-location {
    color: #3C3B3A;
    width: 80%;
    margin: auto;
}

.contact-location h2 {
    font-size: 40px;
    font-weight: bold;
}

.contact-location h3 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-location p {
    font-size: 16px;
    line-height: 35px;
}

.map {
    margin-top: 40px;
}

.back-to-top {
    display: grid;
    grid-template-columns: repeat(12, auto);
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow {
    text-align: center;
}

.map iframe {
    height: 250px;
    width: 100%;
    border: 0;
}

/* CSS for Tablet breakpoint */


@media (min-width: 750px) {

    .header {
        padding: 0;
    }
    .navigation nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation ul li  {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home-section-one h1 {
        color: #3C3B3A;
        font-size: 72px;
        font-weight: bold;
        margin-top: 80px;
        margin-bottom: 20px;
        line-height: 85px;
    }

    .home-section-one p {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    button {
        width: 220px;
    }

    .icons {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-around;
    }

    .discover-wrap button {
        width: 300px;
        display: block;
        margin: 40px auto 40px auto;
    }

    .scroll {
        display: block;
        margin: auto;
    }

    .discover {
        margin-top: 42px;
        margin-bottom: 41px;
    }

    .entertainment h2, .discover h2 {
        font-size: 40px;
        margin-bottom: 11px;
    }
    
    .entertainment h3, .discover h3 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    
    .entertainment p, .discover p  {
        font-size: 18px;
        line-height: 35px;
    }

    .learn-more button {
        font: 27px;
        max-width: 230px;  
    }

    .president {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row: 1/ 2 ;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .president-img {
        
    }

    .president-img img {
        margin-top: 20px;
    }

    .president-text {
        font-size: 24px;
        grid-column: 2 / 3;
        
    }

    .construction img {
        width: 575px;
    }

    .bar-img, .competitive-img  {
        display: block;
    }

    .bar-img img, .competitive-img img {
        width: 100%;
    }

    .competitive {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .competitive-img {
        grid-column: 2;
        grid-row: 1;
    }

    .bar, .competitive {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
    }

    .bar {
        margin: 3rem 0 3rem 3rem;
    }

    .contact-we-want img {
        width: 452px;
    }

    .map iframe {
        height: 500px;
        width: 100%;
        border: 0;
    }


}



    @media (min-width: 960px) {

        .icons p {
            line-height: 20px;
        }

        .discover-wrap {
            margin-top: 95px;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: repeat(1 1fr);
        }

        .discover-img img {
            width: 50vw;
        }

        .president-text {
            padding-bottom: 50px;
        }

        .who-what-where {
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(1, auto);
            padding-top: 225px;
            padding-bottom: 225px;
        }

        .who, .what, .where {
            padding-left: 35px;
            padding-right: 35px;
        }

        .who-what-where h2 {
            font-size: 40px;
        }
        
        .who-what-where p {
            font-size: 18px;
        }

        .bar {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr;
            margin-left: 4rem;
        }

        .thank-you {
            width: 100%;
            margin: auto;
        }

        .thank-you h2 {
            font-size: 72px;
            line-height: 85px;
            width: 40%;
            margin: auto;
        }

        .thank-you-images {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding-left: 105px;
            padding-right: 105px;
            
        }

        .map iframe {
            height: 500px;
            max-width: 812px;
            border: 0;
        }

        .contact-container {
            margin-top: 95px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(1 1fr);
        }

        .contact-container-2 {
            margin-top: 95px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(1 1fr);
        }

        .contact-we-want h1 {
            margin-top: 0;
        }

        .contact-we-want img {
            width: 30vw;
        }

        .contact-form form {
            margin-bottom: 0;
        }




}

