/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my CSS begins here */

* {
    box-sizing: border-box;
}

/* background color from landing page master file applied to all of body */

body {
    background-color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
}

/* width of 80% if applied so all content in container will only take up 80% of available space */
.container {
    width: 80%;
    margin: auto;  
}

/* a size of 100px is applied to logo to have it stay a consistent size on the webpage, even when browser changes, it will not break */

header img {
    width: 100px;
    height: auto;
}

/* font size is applied to the h1 and p tag in header div, and font color from master file is applied as well */

header h1 {
    color: #333131;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
}

header p {
    color: #333131;
    font-size: 24px;
    line-height: 29px;   
}

/* sizing and placement is applied to the scooter image. VW is used (relative width) so that the image can scale with the browser size */

.scooterimg {
    display: block;
    width: 70vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* attributes ares applied to contact form, like padding and margin, as well as box-shadow to give the illusion of a hovering contact form */

.contact form {
    background-color: #ffffff;
    border: hidden;
    border-radius: 20px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px;    
}

/* font color and styles are applied to h2 and first p tag in contact form */

.contact h2 {
    color: #333131;
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    padding-bottom: 10px;
}

.contact p {
    color: #333131;
    font-size: 16px;
    line-height: 19px;
}

/* styling for text input boxes within contact form */

input[type=text]  {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F5;
    font-size: 16px;
    color: #9B9B9B;
    margin-top: 10px;
    margin-bottom: 10px;
    border: hidden;
    border-radius: 5px;
    padding: 7px;
}

input[type=checkbox] {
    border: 5px solid black;
    width: 25px;
    height: 25px;
}

/* specific styles, sizes and color are applied to DRIVE WITH US button in contact form */

.contact form button {
    width: 100%;
    background-color: #57EEAB;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: hidden;
    border-radius: 10px;
}

/* background color taken from master file and applied to footer */

.footer {
    background-color: #fffd8c;
    width: 100%; 
}

/* a width is set for items in class of flex-items specifically */

.footer footer .flex-items {
    width: 80%;
    margin: auto;
}

/* below is differing font sizes set for both p tags in footer */

.footer footer .flex-items p {
    font-size: 16px;
    line-height: 22px;    
}

.footer footer .flex-items p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
} 

/* specific sizing and colors are set for CALCULATE button in footer, as it requires different styling from previous button */

.flex-items fieldset .button {
    width: 100%;
    background-color: #FF8480;
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    border: hidden;
    border-radius: 5px;
    padding: 0.2rem 3rem 0.2rem 3rem;
}

/* styling for social media icons */

.icon-list {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* flex is used to display icons in a row */

.icon-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* attributes are set for tablet breakpoint below */

@media screen and (min-width: 650px) {
    header p {
        font-size: 1em;
        line-height: 1.2em;
    }

    /* a different VW is used for tablet, to prevent image from scaling too large */

    .scooterimg {
        width: 50vw;
        justify-content: center;
    }

    .contact h2 {
        font-size: 2em;
    }

    .contact p {
        font-size: 1.4em;
    }

    .p2 {
        font-size: 0.5em;
        text-align: center;
        padding-bottom: 2em;
    }

    /* padding is added to make input text boxes larger in tablet */

    .contact input {
        padding: 0.8em 0.8em 0.8em 0.8em;
    }

    /* display of flex is used for both p elements, HOURS, CITY, and CALCULATE elements */

    footer .flex-items fieldset {
        display: flex;
        flex-wrap: nowrap;
    }

    /* different widths are used for input elements in footer, to display them as different sizes */

    input[type=text]#hours {
        width: 20%;
        margin-right: 15px;
    }

     input[type=text]#city {
        width: 40%;
        margin-right: 15px;
    }

    .flex-items fieldset .button {
        width: 40%;
        padding: 0;
    }

    .icon-list {
        display: flex;
        justify-content: center;
    }

    /* a width is applied to social media icons, to prevent them from spacing furthur apart */

    .icon-list ul {
        width: 300px;
    }

    /* styling is applied for largest breakpoint which will be for desktop browsers */

    @media screen and (min-width: 960px) {
            
            /* a max-width is applied to both header elements to prevent them from spanning over entire page */
        
            header h1 {
                padding-top: 1.3em;
                padding-bottom: 0.5em;
                max-width: 50%;
            }

            header p {
                font-size: 1.3em;
                max-width: 50%;
            }

            /* flex is used for container elements to span them over 3 columns across web page */

            .container {
                position: relative;
                display: flex;
                flex-direction: row;
                position: relative;
            }

            .scooterimg {
                width: 50%;
                position: absolute;
                /* z-index is applied to place scooter image behind other elements */
                z-index: -1;
                top: 25%;
                left: 20%;
            }

            /* VW is used for contact form, to prevent image from scaling too large */

            .contact form {
                width: 30vw;
                margin-top: 10rem;
                margin-bottom: 5rem;
            }

            .p2 {
                font-size: 0.7em;
            }

            /* padding is applied to elements inside footer, in attempts to center content */

            .footer {
                width: 100%;
                bottom: 0px;
                padding: 2% 10% 2% 10%;     
            }
            
            footer {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            /* max-width is applied to .flex-items to prevent them from spanning across to much of the footer */
    
            footer.flex-items {
                max-width: 500px;
            }
    
            footer .flex-items fieldset {
                display: flex;
                flex-wrap: nowrap;   
                justify-content: center;
            }

            .flex-items p {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
    
            .icon-list {
                display: flex;
                justify-content: center;
            }

}